<div class="container-fluid row sub-navbar-column m-0">
  <div class="col-3 sub-navbar-header">
    <h6 class="symbol-ticker__symbol m-0">
      ANAVRIN
    </h6>
  </div>
  <nav class="col-9" aria-label="breadcrumb">
    <ol class="breadcrumb malang-breadcrumb m-0">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item"><a>Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>