<div class="col-md-7 ml-sm-auto col-lg-7 p-0">
    <div class="main-pane h-100 p-4">
        <h3 class="font-weight-light">Malang</h3>
        <h6 class="font-weight-light small-text">Dividend portfolio tracker - stimulator</h6>
    </div>
</div>
<div class="col-md-4 ml-sm-auto col-lg-4 p-0">
    <div class="secondary-pane h-100 p-4">
        
    </div>
</div>