<div class="col-md-7 ml-sm-auto col-lg-7 p-0">
    <div class="register-carousel-pane h-100 p-4">

    </div>
</div>
<div class="col-md-4 ml-sm-auto col-lg-4 p-0">
    <div class="register-pane h-100 p-4">

        <form action="" method="GET">
            <div class="form-row m-0">
                <div class="col-12 p-0">
                    <div class="form-group m-0">
                        <label for="inputSymbol" class="sr-only">Name</label>
                        <input type="text" class="form-control malang-form-input" id="userName"
                            name="name" placeholder="User">
                    </div>
                    <hr>
                    <div class="form-group m-0">
                        <label for="inputSymbol" class="sr-only">Email</label>
                        <input type="text" class="form-control malang-form-input" id="userEmail"
                            name="email" placeholder="yourname@mail.com">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>