<div class="col-md-7 ml-sm-auto col-lg-7 p-0">
    <div class="register-carousel-pane h-100 p-4">

    </div>
</div>
<div class="col-md-4 ml-sm-auto col-lg-4 p-0">
    <div class="register-panel h-100">

        <div class="info-pane blender-font p-4">
            <h1>Anavrin</h1>
            <p class="small mb-0 jetBrains-font">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>

        <div class="register-pane p-4">
            <form action="/registration" method="POST">
                <div class="form-row m-0">
                    <div class="col-12 p-0">
                        <div class="form-group register-form-group m-0">
                            <label for="inputSymbol" class="sr-only">Name</label>
                            <p class="m-t-2 mb-0 malang-form-small text-uppercase"><strong>Enter your Name</strong></p>
                            <input type="text"
                                class="form-control form-control-sm register-form-input malang-form-input" id="userName"
                                name="userName" placeholder="User">
                        </div>
                        <br>
                        <div class="form-group register-form-group m-0">
                            <label for="inputSymbol" class="sr-only">Email</label>
                            <p class="m-t-2 mb-0 malang-form-small text-uppercase"><strong>Enter your Email</strong></p>
                            <input type="email"
                                class="form-control form-control-sm register-form-input malang-form-input"
                                id="userEmail" name="userEmail" placeholder="yourname@mail.com">
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block btn-sm mt-4">Register</button>
                    </div>
                </div>
            </form>
            <p class="small mt-2">
                By clicking Register, you agree to our Terms of Service and Privacy Policy.
            </p>
        </div>

    </div>
</div>