<div class="col-md-7 ml-sm-auto col-lg-7 p-0">
  <div class="register-carousel-pane h-100 p-4">

  </div>
</div>
<div class="col-md-4 ml-sm-auto col-lg-4 p-0">
  <div class="register-pane h-100 p-4">

  </div>
</div>