<div class="col-md-11 ml-sm-auto col-lg-11 p-0">
  <div class="register-carousel-pane h-100 p-4">
    {{!-- 404 Page Not Found --}}
    <div class="error-page-content">
      <svg viewBox="0 0 24 24" class="warning-icon">
        <path fill="currentColor" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" class="jsx-3461526671"></path>
      </svg>
      <div>
        <h1 class="error-title">ERROR 404</h1>
        <h2 class="error-description">This page could not be found.</h2>
      </div>
    </div>
  </div>
</div>