<div class="col-md-11 ml-sm-auto col-lg-11 p-0">
  <div class="main-pane h-100 p-4">

  </div>
</div>
<div class="col-md-0 ml-sm-auto col-lg-0 p-0 hidden">
  <div class="secondary-pane h-100 p-4">

  </div>
</div>