body,
html {
    height: 100%;
}

.hidden {
    display: none;
}

.d-gray {
    background-color: #15191c;
}

.primary-gray {
    background-color: #23262B;
}

.primary {
    background-color: #455059;
}

.s-gray {
    background-color: #888a7e;
}

.d-blue {
    background-color: #4d5c94;
}

.b-gray {
    background-color: #9ca0a4;
}

.fair {
    background-color: #e6e7ea;
}

.orange {
    background-color: #dfb780;
}

.blue {
    background-color: #6775d2;
}

.green {
    background-color: #36d644;
}

.icon-holder {
    text-align: center;
    cursor: pointer;
    height: 3em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;
}

.icon-selected,
.icon-holder:hover {
    background-color: #4d5c94;
}

.icon {
    color: #e6e7ea;
}

.main-pane {
    color: #e6e7ea;
    background-color: #23262B;
}

.secondary-pane {
    color: #e6e7ea;
    background-color: #455059;
}

.register-carousel-pane {
    color: #e6e7ea;
    background-color: #15191c;
}

.register-pane {
    color: #e6e7ea;
    background-color: #23262B;
}

.vertical-align {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small-text {
    color: #9ca0a4;
}

.form-control-plaintext2 {
    color: #9ca0a4;
}

hr {
    background-color: #7F888a7e;
}

.malang-form-input {
    background-color: #2e3439 !important;
    border: 0px !important;
}

.malang-form-input:focus {
    color: #9ca0a4 !important;
    border: 0px !important;
    outline: 0 none !important;
}

.btn-gray {
    color: #9ca0a4;
    background-color: #75838e;
    border-color: #7F888a7e;
}

.btn-gray:hover {
    color: #9ca0a4;
    background-color: #75838e;
    border-color: #7F888a7e;
}

.malang-table {
    color: #7F888a7e !important;
    font-size: x-small;
    text-transform: uppercase;
    font-weight: bold;
}

.malang-table>tbody>tr {
    color: #888a7e !important;
    background-color: #2e3439 !important;

    border-bottom: 0.5em #23262B solid;

    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .03);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .03);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .03);
}

.malang-table>tbody>tr:hover {
    background-color: #455059 !important;
    cursor: pointer;
}

.flex-container {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}